body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #8e8276;
    color: #fff;
    height: 2rem; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem; /* Adjust text size as needed */
    font-weight: 100; /* Ensure text is not thick */
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; /* Adjust margin to position the logo */
}

.logo-container img {
    height: 5rem; /* Increase the height of the logo */
}

main {
    padding: 2rem;
    margin-top: 6rem; /* Adjust margin to match combined header height */
}

footer {
    background-color: #8e8276;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}